{% extends 'layout.html' %}
{% load static %}
{% load tags_extra %}
{% block script %}
    <script>
  function openUpload(project_id){
    url = "/projeto/upload_arquivo/" + project_id + "/" + '{{ object.id }}'
    window.open(url);
  }
  function openQuestionModal(file_id, file_name, type){
    title = "Alteração de Status do Arquivo #" + file_id
    if(type == '0'){
      status_message = "Tem certeza que deseja disponibilizar o Arquivo <b>'" + file_name + "'</b> P/ Produção?"
    }else{
      status_message = "Tem certeza que deseja Retirar o Arquivo <b>'" + file_name + "'</b> de Produção?"
    }
    document.getElementById('question_modal_title').innerHTML = title
    document.getElementById('status_message').innerHTML = status_message
    $("#question_modal").appendTo("body").modal('show');
  }
  function changeStatus(){
    message = $("#status_message").text();
    file_id = $("#question_modal_title").text();
    file_id = file_id.split('#')[1]
    if(message.includes("disponibilizar")){
      status = 0;
    }else{
      status = 1;
    }
    $.ajax({
      url: "{% url 'change_file_status_rest' %}",
      type: "GET",
      data: {"file_id": file_id,
             "status": status,
      }
    }).done(function(response_data){
      $("#question_modal").appendTo("body").modal('hide');
      if(response_data.success === true){
        $("#success_modal").appendTo("body").modal('show');
      }else{
        $("#error_modal").appendTo("body").modal('show');
      }
    });
  }

    </script>
{% endblock script %}
{% block content %}
<div id="error_modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <h3 id="result_title">Alteração de Status do Arquivo</h3>
            </div>
            <div class="modal-body">
              <p id="result_message" style="margin-top:10px; color:red; text-align:center">Houve um Erro al Alterar o Status do Arquivo. Por favor, tente novamente.</p>
            </div>
            <div class="modal-footer" style="text-align:center">
                <button type="button" class="btn btn-lg btn-secondary" onclick="location.reload()">Fechar</button>
            </div>
        </div>
    </div>
</div>
<div id="success_modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <h3 id="result_title">Alteração de Status do Arquivo</h3>
            </div>
            <div class="modal-body">
              <p id="result_message" style="margin-top:10px; color:red; text-align:center">Arquivo Alterado com Sucesso!</p>
            </div>
            <div class="modal-footer" style="text-align:center">
                <button type="button" class="btn btn-lg btn-secondary" onclick="location.reload()">Fechar</button>
            </div>
        </div>
    </div>
</div>
<div id="question_modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <h3 id="question_modal_title">Alteração de Status do Arquivo</h3>
            </div>
            <div class="modal-body">
              <p id="status_message" style="text-align:left; color:black"></p>
            </div>
            <div class="modal-footer" style="text-align:center">
                <button type="button" id="btn_create" class="btn btn-lg btn-success" onclick="changeStatus(); return false">Sim</button>
                <button type="button" class="btn btn-lg btn-secondary" data-dismiss="modal">Não</button>
            </div>
        </div>
    </div>
</div>
<h2 style="text-align: center">Histórico de Modificações</h2>
            <h3>{{ object.project.identifier }} - {{ object.project.name }}</h3>
            <h4>Desenho: {{ object.draw }}</h4>
            {% if object.project.status == 1 and perms.panflight.change_projectfiles %}
              <div class="container-fluid " style="margin-top: 20px">
                <div class="row">
                  <div class="col-sm">
                  <center><button class="btn btn-sm btn-success" onclick="openUpload('{{ object.project.id }}'); return false">
                      <span class="fas fa-upload" data-placement="top"></span> Enviar Arquivo
                    </button>
                  </div>
                </div>
              </div>
            {% endif %}
            <div class="container-fluid" style="margin-top:20px">
              <table class="table table-striped table-sm " id="projectFiles">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Data</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Versão</th>
                    <th scope="col">Autor</th>
                    <th scope="col">Comentários</th>
                    <th scope="col">Disponível para Produção?</th>
                    <th scope="col">Ações</th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in object_list %}
                  <tr>
                    <td>{{ item.upload_date|date:"d/m/Y H:i:s" }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.version }} <a href="{{ item.project_file.url }}" target="_blank"> <i class="fas fa-file-download"></i></a></td>
                    <td>{{ item.uploaded_by }}</td>
                    <td>{{ item.comments }}</td>
                    {% if item.status != 0 %}
                      <td>Não</td>
                    {% else %}
                      <td>Sim</td>
                    {% endif %}
		    {% if perms.panflight.change_projectfiles %}
			    {% if item.status == 1 or item.status == 2 %}
			    <td><button class="btn btn-sm btn-success" onclick="openQuestionModal('{{ item.id }}', '{{ item.name }}', '0'); return false">
				  <span class="fas fa-check"></span> Disponibilizar P/ Produção
				</button>
			    </td>
			    {% else %}
			    <td><button class="btn btn-sm btn-danger" onclick="openQuestionModal('{{ item.id }}', '{{ item.name }}', '1'); return false">
				  <span class="fas fa-ban"></span> Remover da Produção
				</button>
			    </td>
			    {% endif %}
		    {% endif %}
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            <div class="container-fluid " style="margin-top: 20px">
              <div class="row">
                <div class="col-sm">
                  <center><button class="btn btn-sm btn-primary" onclick="window.close()">
                    <span class="fas fa-arrow-left" data-placement="top"></span> Voltar
                  </button>
                </div>
              </div>
            </div>
            </div>
{% endblock content %}
